@font-face {
  font-family: Cuprum;
  src: url("font/Cuprum-Regular.ttf");
  font-size: 22px; }
body, ol, ul, li, div, p, figure, figcaption {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: url(../img/bg-main.png) no-repeat 0 45%;
  background-size: cover; }

body {
  width: 1050px;
  min-width: 1050px;
  margin: 0 auto;
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
  line-height: 22px;
  padding-bottom: 20px;
  font-family: Cuprum;
  color: dimgray;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6); }
  body .block-info {
    width: 100%;
    box-sizing: border-box; }
  body .header {
    text-align: center;
    height: 80px; }
    body .header nav {
      display: block; }
      body .header nav a {
        position: relative;
        color: white;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        line-height: 2em;
        margin: 15px;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        perspective: 800px;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        font-size: 1.25em;
        margin: 18px;
        width: 150px; }
        body .header nav a:first-child {
          margin-left: 0; }
        body .header nav a span {
          position: relative;
          display: inline-block;
          width: 100%;
          padding: 0 14px;
          background: #e35041;
          -webkit-transition: -webkit-transform 0.4s, background 0.4s;
          -moz-transition: -moz-transform 0.4s, background 0.4s;
          transition: transform 0.4s, background 0.4s;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transform-origin: 50% 50% -90px;
          -moz-transform-origin: 50% 50% -90px;
          transform-origin: 50% 50% -90px; }
          body .header nav a span::before {
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
            background: #b53a2d;
            content: attr(data-hover);
            -webkit-transition: background 0.4s;
            -moz-transition: background 0.4s;
            transition: background 0.4s;
            -webkit-transform: rotateY(90deg);
            -moz-transform: rotateY(90deg);
            transform: rotateY(90deg);
            -webkit-transform-origin: 0 50%;
            -moz-transform-origin: 0 50%;
            transform-origin: 0 50%;
            pointer-events: none; }
      body .header nav a:hover span, body .header nav a:focus span {
        background: #b53a2d;
        -webkit-transform: rotateY(-90deg);
        -moz-transform: rotateY(-90deg);
        transform: rotateY(-90deg); }
      body .header nav a:hover span::before, body .header nav a:focus span::before {
        background: #ef5e50; }
    body .header .active span {
      background: #6AB1C5; }
  body .content {
    width: 100%;
    height: auto;
    padding-bottom: 20px; }
    body .content .content-block {
      padding: 0 35px 35px 35px;
      position: relative; }
      body .content .content-block .back {
        position: absolute;
        right: 25px;
        top: 5px; }
        body .content .content-block .back a {
          color: #9C8A8A; }
          body .content .content-block .back a:hover {
            text-decoration: none; }
    body .content h1 {
      font-size: 34px;
      text-align: center;
      margin-bottom: 30px;
      line-height: 30px; }
    body .content h2 {
      font-size: 25px; }
    body .content p {
      margin: 15px 0;
      text-indent: 30px;
      text-align: justify; }
    body .content .poem {
      margin-left: 45px; }
    body .content .psycho-quality {
      text-align: center;
      margin-top: -15px; }
    body .content ul {
      margin-left: 60px;
      list-style-image: url(../img/marked.png); }
      body .content ul li {
        padding-bottom: 5px; }
        body .content ul li:last-child {
          padding-bottom: 0; }
    body .content a:link {
      color: black; }
    body .content a:visited {
      color: red; }
    body .content figure {
      position: relative;
      display: inline-block;
      margin: 10px 11px;
      width: 300px;
      height: 300px;
      z-index: 1;
      overflow: hidden;
      text-align: center; }
      body .content figure img {
        width: 300px;
        height: 300px;
        position: relative;
        display: block;
        min-height: 100%;
        opacity: 0.8; }
      body .content figure figcaption {
        width: 300px;
        height: 300px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0; }
        body .content figure figcaption:before {
          position: absolute;
          width: 300px;
          height: 300px;
          top: 0;
          left: 0;
          background: rgba(63, 147, 147, 0.8);
          border-radius: 100%;
          content: "";
          opacity: 0;
          -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0); }
        body .content figure figcaption h2 {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          color: #484c61;
          -webkit-transition: -webkit-transform 0.35s, color 0.35s;
          transition: transform 0.35s, color 0.35s;
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0); }
        body .content figure figcaption div {
          position: absolute;
          bottom: 10%;
          padding: 1em 2.4em;
          opacity: 0;
          -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0); }
      body .content figure figcaption:before, body .content figure div {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s; }
      body .content figure:hover h2 {
        color: #fff;
        -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
        transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0); }
      body .content figure:hover figcaption:before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      body .content figure:hover div {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    body .content .autors {
      margin-top: 100px;
      text-align: right; }
      body .content .autors_title-block {
        font-size: 25px;
        margin-bottom: 10px; }
      body .content .autors .autors1 {
        margin-bottom: 20px; }
    body .content .list-tales {
      margin-bottom: 30px;
      text-align: center; }
      body .content .list-tales a {
        color: dimgrey;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 30px;
        line-height: 40px; }
        body .content .list-tales a:hover {
          border-bottom: 3px solid #6BB2C7; }
    body .content .tales img {
      width: 1000px; }
  body .footer {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    clear: both;
    border-top: 1px solid #aaaaaa; }
    body .footer .content-footer {
      line-height: 50px; }
      body .footer .content-footer a {
        text-decoration: none;
        color: dimgrey; }
        body .footer .content-footer a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
