@font-face
    font-family: Cuprum
    src: url('font/Cuprum-Regular.ttf')
    font-size: 22px
@import "_reset.sass"
html
    width: 100%
    height: 100%
    min-height: 100%
    background: url(../img/bg-main.png) no-repeat 0 45%
    background-size: cover

body
    width: 1050px
    min-width: 1050px
    margin: 0 auto
    min-height: 100%
    //height: auto
    overflow-y: scroll
    position: relative
    line-height: 22px
    padding-bottom: 20px
    font-family: Cuprum
    color: dimgray
    font-size: 20px
    background: rgba(255, 255, 255, 0.8)
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6)
    .block-info
        width: 100%
        box-sizing: border-box
    .header
        text-align: center
        height: 80px
        nav
            display: block
            a
                position: relative
                color: white
                text-transform: uppercase
                display: inline-block
                text-align: center
                line-height: 2em
                margin: 15px
                -webkit-perspective: 800px
                -moz-perspective: 800px
                perspective: 800px
                text-decoration: none
                letter-spacing: 1px
                font-weight: 400
                text-shadow: 0 0 1px rgba(255,255,255,0.3)
                font-size: 1.25em
                margin: 18px
                width: 150px
                &:first-child
                    margin-left: 0
                span
                    position: relative
                    display: inline-block
                    width: 100%
                    padding: 0 14px
                    background: #e35041
                    -webkit-transition: -webkit-transform 0.4s, background 0.4s
                    -moz-transition: -moz-transform 0.4s, background 0.4s
                    transition: transform 0.4s, background 0.4s
                    -webkit-transform-style: preserve-3d
                    -moz-transform-style: preserve-3d
                    transform-style: preserve-3d
                    -webkit-transform-origin: 50% 50% -90px
                    -moz-transform-origin: 50% 50% -90px
                    transform-origin: 50% 50% -90px
                    &::before
                        position: absolute
                        top: 0
                        left: 100%
                        width: 100%
                        height: 100%
                        background: #b53a2d
                        content: attr(data-hover)
                        -webkit-transition: background 0.4s
                        -moz-transition: background 0.4s
                        transition: background 0.4s
                        -webkit-transform: rotateY(90deg)
                        -moz-transform: rotateY(90deg)
                        transform: rotateY(90deg)
                        -webkit-transform-origin: 0 50%
                        -moz-transform-origin: 0 50%
                        transform-origin: 0 50%
                        pointer-events: none
            a:hover span, a:focus span
                background: #b53a2d
                -webkit-transform: rotateY(-90deg)
                -moz-transform: rotateY(-90deg)
                transform: rotateY(-90deg)
            a:hover span::before, a:focus span::before
                background: #ef5e50

        .active
            span
                background: #6AB1C5
    .content
        width: 100%
        height: auto
        padding-bottom: 20px

        .content-block
            padding: 0 35px 35px 35px
            position: relative
            .back
                position: absolute
                right: 25px
                top: 5px
                a
                    color: #9C8A8A
                    &:hover
                        text-decoration: none

        h1
            font-size: 34px
            text-align: center
            margin-bottom: 30px
            line-height: 30px
        h2
            font-size: 25px
        p
            margin: 15px 0
            text-indent: 30px
            text-align: justify
        .poem
            margin-left: 45px
        .psycho-quality
            text-align: center
            margin-top: -15px
        ul
            margin-left: 60px
            list-style-image: url(../img/marked.png)
            li
                padding-bottom: 5px
                &:last-child
                    padding-bottom: 0

        a
            &:link
                color: black
            &:visited
                color: red
        figure
            position: relative
            display: inline-block
            margin: 10px 11px
            width: 300px
            height: 300px
            z-index: 1
            overflow: hidden
            //background: #3085a3
            text-align: center
            img
                width: 300px
                height: 300px
                position: relative
                display: block
                min-height: 100%
                opacity: 0.8
            figcaption
                width: 300px
                height: 300px
                color: #fff
                text-transform: uppercase
                font-size: 1.25em
                -webkit-backface-visibility: hidden
                backface-visibility: hidden
                position: absolute
                top: 0
                left: 0
                &:before
                    position: absolute
                    width: 300px
                    height: 300px
                    top: 0
                    left: 0
                    //background: -webkit-linear-gradient(top, rgba(1, 208, 122, 0) 0%, rgb(106, 177, 198) 75%)
                    //background: linear-gradient(to bottom, rgba(1, 208, 122, 0) 0%, rgb(106, 177, 198) 75%)
                    background: rgba(63,147,147, 0.8)
                    border-radius: 100%
                    content: ''
                    opacity: 0
                    -webkit-transform: translate3d(0,50%,0)
                    transform: translate3d(0,50%,0)
                h2
                    position: absolute
                    top: 50%
                    left: 0
                    width: 100%
                    color: #484c61
                    -webkit-transition: -webkit-transform 0.35s, color 0.35s
                    transition: transform 0.35s, color 0.35s
                    -webkit-transform: translate3d(0,-50%,0)
                    transform: translate3d(0,-50%,0)
                div
                    position: absolute
                    bottom: 10%
                    padding: 1em 2.4em
                    opacity: 0
                    -webkit-transform: translate3d(0,10px,0)
                    transform: translate3d(0,10px,0)
            figcaption:before, div
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
                transition: opacity 0.35s, transform 0.35s

            &:hover
                h2
                    color: #fff
                    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0)
                    transform: translate3d(0,-50%,0) translate3d(0,-40px,0)

                figcaption:before
                    opacity: 1
                    -webkit-transform: translate3d(0,0,0)
                    transform: translate3d(0,0,0)
                div
                    opacity: 1
                    -webkit-transform: translate3d(0,0,0)
                    transform: translate3d(0,0,0)
        .autors
            margin-top: 100px
            text-align: right
            &_title-block
                font-size: 25px
                margin-bottom: 10px
            .autors1
                margin-bottom: 20px

        .list-tales
            margin-bottom: 30px
            text-align: center
            a
                color: dimgrey
                text-transform: uppercase
                text-decoration: none
                margin-right: 30px
                line-height: 40px
                &:hover
                    border-bottom: 3px solid #6BB2C7
        .tales
            img
                width: 1000px
    .footer
        width: 100%
        height: 50px
        margin-top: 20px
        position: absolute
        bottom: 0
        text-align: center
        clear: both
        border-top: 1px solid #aaaaaa
        .content-footer
            line-height: 50px
            a
                text-decoration: none
                color: dimgrey
                &:hover
                    text-decoration: underline






        






