<head>
    <meta charset="UTF-8">
    <title>Сайт для детей</title>
    <!-- build:css css/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- endbuild -->
</head>
<body>
    <div class="header block-info" role="header">
        <nav>
            <a href="../about.html">
                <span data-hover="О проекте">О проекте</span>
            </a>
            <a href="../training.html" class="active">
                <span data-hover="Тренинги">Тренинги</span>
            </a>
            <a href="../exercises.html">
                <span data-hover="Упражнения">Упражнения</span>
            </a>
            <a href="../tales">
                <span data-hover="Сказки">Сказки</span>
            </a>
            <a href="../gallery.html">
                <span data-hover="Галерея">Галерея</span>
            </a>
        </nav>
    </div>
    <div class="content block-info">
        <div class="content-block">
            <h1>Тренинг № 6<br>«Я и мои страхи»</h1>
            <p><b>Цель:</b> знакомство с эмоцией «страх», развитие умений преодолевать эмоции страха, снижение эмоционального
                напряжения.</p>
            <p>Дети вместе с педагогом встают в круг и закрывают глаза. С закрытыми глазами дети начинают передвигаться и искать
                себе пару. Образуя пару, дети аккуратно ощупывают друг друга, не открывая глаз, говорят друг другу комплимент: «
                У тебя красивое (-ый,-ая)…». Далее снова закрывают глаза и ищут себе другую пару.</p>

            <h2>Упражнение №2. «Испуганный котёнок»</h2>
            <p><b>Цель:</b> познакомить детей с эмоцией «страх», научить распознавать её у своих сверстников, научить избавляться от
                негативных эмоций.</p>
            <p>Педагог предлагает детям представить, что они все превратились в маленьких котят, которые потерялись в большом
                городе:</p>
            <ul>
                <li>Представьте, что котенок забыл, где его дом? Что он испытывает? Изобразите потерявшегося котенка.</li>
                <li>Котенок пошел искать свой дом и заблудился? Изобразите котенка, который заблудился.</li>
                <li>Котенок, продолжая искать свой дом,  встретил огромную злую собаку. Собака стала рычать и громко лаять. Что
                    чувствует  котенок? Изобразите котенка.</li>
                <li>Котёнок быстро побежал, куда глаза глядят, собака сорвалась и побежала  за ним? Изобразите, что чувствует
                    котенок сейчас.</li>
                <li>Наступила ночь, котёнок до сих пор не нашел дорогу домой, вокруг темно и никого нет. Изобразите чувства
                    котенка.</li>
            </ul>
            <p>Какие эмоции вы испытывали только что? (Страх). А теперь представьте, что наступило утро, котёнок проснулся в
                тёплой кроватке, в комнате пахло тёплым молочком и всё, что происходило с котёнком, оказалось всего лишь
                страшным сном. Вздохните с облегчением.</p>

            <h2>Упражнение №3. «Незаконченное предложение»</h2>
            <p><b>Цель:</b> выявление реальных страхов детей, развитие умения говорить о своих негативных переживаниях открыто в
                кругу сверстников, формирование доверительных социальных отношений.</p>
            <p>Дети садятся в круг, педагог предлагает детям закончить предложения:</p>
            <ul>
                <li>«Страх - это, когда… » </li>
                <li>«Я боюсь, когда… »</li>
                <li>«Мой друг боится, когда… »</li>
                <li>«Воспитатель боится, когда… » </li>
                <li>«Мне страшно, когда… »</li>
            </ul>

            <h2>Упражнение №4. «Ничего я не боюсь»</h2>
            <p><b>Цель:</b> научить детей преодолевать свои страхи путем развития позитивного мышления.</p>
            <p>Дети стоят по кругу. Один из них громко называет своё имя и изображает движение, которое характеризует его
                смелость. Игра продолжается до тех пор, пока в ней не примут участие все дети. По окончании упражнения дети
                вместе с педагогом произносят следующие слова:</p>
            <p>Ничего я не боюсь, br Слова «страшно» я не знаю. br Нипочем мне страхи все, br Всем об это заявляю. br Ни
                темнота, ни волк, ни вьюга, br Ни прививки, ни собака, br Ни мальчишка-забияка, br Испугать меня не смогут, br
                Смелым буду я расти, br Смогу друга защитить br И все страхи победить!</p>
            <p>Дети после произношения стихотворения громко аплодируют друг другу.</p>

            <h2>Упражнение №5. «Зайчик в норке»</h2>
            <p><b>Цель:</b> снятие психоэмоционального и мышечного напряжения.</p>
            <p><b>Оборудование:</b> лёгкое покрывало.</p>
            <p>Педагог с детьми накрываются легким покрывалом. Звучит спокойная музыка. Педагог тихим, спокойным, ласковым
                голосом, рассказывает детям о том, что мы все маленькие зайчата, которые спрятались в своей теплой, уютной и
                безопасной норке. И пусть на улице уже ночь, темно, льёт дождь, снег, бушует ветер, а в заячьей норке очень
                хорошо, безопасно и совсем не страшно! В заячью норку никогда не придёт никто плохой и зайчиков не напугает!</p>
        </div>
    </div>
    <div class="footer block-info">
        <div class="content-footer"><a href="/">&copy; 2015 - 2016 КарГУ им. Букетова</a></div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="../js/main.js"></script>
    <script src="../js/plugins.js"></script>
    <!-- endbuild -->
</body>
</html>