<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт для детей</title>
    <!-- build:css css/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/elastislide.css">
    <link rel="stylesheet" href="styles/gallary.css">
    <!-- endbuild -->

</head>
<body>
<div class="header block-info" role="header">
    <nav>
        <a href="about.html">
            <span data-hover="О проекте">О проекте</span>
        </a>
        <a href="training.html">
            <span data-hover="Тренинги">Тренинги</span>
        </a>
        <a href="exercises.html">
            <span data-hover="Упражнения">Упражнения</span>
        </a>
        <a href="tales.html">
            <span data-hover="Сказки">Сказки</span>
        </a>
        <a href="gallery.html" class="active">
            <span data-hover="Галерея">Галерея</span>
        </a>
    </nav>
</div>
<div class="content block-info">
    <div class="content-block">
        <h1>Галерея</h1>
        <div id="rg-gallery" class="rg-gallery">
            <div class="rg-thumbs">
                <!-- Elastislide Carousel Thumbnail Viewer -->
                <div class="es-carousel-wrapper">
                    <div class="es-nav">
                        <span class="es-nav-prev">Previous</span>
                        <span class="es-nav-next">Next</span>
                    </div>
                    <div class="es-carousel">
                        <ul>
                            <li><a href="#"><img src="img/gallary/gal.jpg" data-large="img/gallary/gal.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                            <li><a href="#"><img src="img/gallary/gal2.jpg" data-large="img/gallary/gal2.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                            <li><a href="#"><img src="img/gallary/gal3.jpg" data-large="img/gallary/gal3.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                            <li><a href="#"><img src="img/gallary/gal4.jpg" data-large="img/gallary/gal4.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Elastislide Carousel Thumbnail Viewer -->
            </div><!-- rg-thumbs -->
        </div><!-- rg-gallery -->
    </div>


</div>
<div class="footer block-info">
    <div class="content-footer"><a href="/">&copy; 2015 - 2016 КарГУ им. Букетова</a></div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/main.js -->

<script type="text/javascript" src="js/gallary/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="js/gallary/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/gallary/jquery.elastislide.js"></script>
<script type="text/javascript" src="js/gallary/gallery.js"></script>
<noscript>
    <style>
        .es-carousel ul{
            display:block;
        }
    </style>
</noscript>
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
					</div>
				</div>
			</div>
</script>
<!-- endbuild -->

</body>
</html>